body{
    background-color:  hsl(212, 45%, 89%);
}
.main{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
}
.QR{
    box-shadow: 0 4px 8px 0  hsl(220, 15%, 55%);
    width: 320px;
    height: 360px;
    background-color:   hsl(0, 0%, 100%)
}

.QR:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img{
    width:200px;
    height: 200px;
    margin-top:12px;
    margin-left: 52px;
}

h4{
    text-align:center;
}
p{
    text-align: center;
}

#footer{
    margin-top: 200px;
    display: flex;
    justify-content:center;
    align-content: center;
}
